*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}



body {
	font-family: montserrat;
	background-image: url(logo.jpg);
	background-size: cover;
	background-position: centre;
	background-repeat: no-repeat;

}

nav {
	height: 80px;
	width: 100%;
	background: hsl(240, 100%, 90%)


}

nav {
	display: flex;
	align-items: centre;
	justify-content: space-between; 
	padding-top: 1px;
	padding-left:1% ;
	padding-right: 1%;
}


nav ul li {
	
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: #7B68EE;
	text-decoration: none;
	font-weight: bold;
	font-size: 33px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;


}
footer {
    display: flex;
    justify-content: center;
    padding: 17px;
    background-color: #45a1ff;
    color: #fff;
    margin-top: 35%;
}
a.active,a:hover{
	background: #EE82EE;
	transition: 0.5s;
} 
.text {
	margin-top: 12pc;
}

.items {
  display: block;
  margin-left: 20pc;
  margin-top: 3pc; 
}
.thenya {
	margin-left: 24pc;
}
.loula {
	margin-left : -9pc
}


.hp {
 	margin-left: 70%;

 }

 .hpp{
 	margin-left: 1%;
 	margin-top : -5pc;
 	margin-right: 72%;


 }

 .h1p {
margin-right: 0.5%;
margin-bottom: 13%;
margin-top: -7pc;
 }

.para {
	background-size: contain;
	background-color: #800080;
	margin-bottom: 12pc;
	opacity: 85%;
	font-size: 170%;
}

#nice:hover{
	opacity: .7;
	background-color: #800080;
	transform:translate(30px, 20px),rotate(20deg)
cursor: pointer; 
}


